.asset__actions--scroll {
  overflow: unset !important;
  overflow-y: scroll !important;
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    background: #222227;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: #6164ff;
    border-radius: 2px;
  }
}
